<h3>Autores de la aplicación</h3>
<br>
<table>
  <tr>
    <td><b>Autor</b></td>
    <td><b>Imagen</b></td>
  </tr>
  <tr>
    <td>Roberto Gómez</td>
    <td><IMG style="max-width: 100px; height: auto;" SRC="/images/author.jpg"></td>
  </tr>
</table>
